
<h1>Login </h1>
<div class="container">
      <div class="form-floating mb-3">
        <input type="email" [(ngModel)]="email1" class="form-control" id="email1" placeholder="Enter email">
        <label for="email1">email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" [(ngModel)]="password1"  class="form-control" id="password1" placeholder="Enter password">
        <label for="password1">password</label>
      </div>
      <div class="form-floating mb-3">
        <button type="button" class="btn btn-outline-success" (click)="showdetails()">Login</button>
      </div>
</div>